body {
  background-color: #e8ecef;
}

ul {
  list-style-type: none;
  padding-right: 2rem;
  text-align: right;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
