/* Write your code here: */

h1, h2 {
    color: blueviolet
}

.box > p {
    color: firebrick;
}

.box li {
    color: blue;
}

li.done {
    color: seagreen;
}

/* note you could also use the child method , as in this case 
it is both a parent and ancestor
ul > p.done */
ul p.done {
    font-size: .5rem;
}